@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    
  }
  
  body {
    width: 100vw;
    height: 100vh;
    font-family: "Roboto";
    font-style: normal;
    background: #E5E5E5
  }

  ion-icon{
    font-size: 45px;
    color: black;
    
    position: absolute;
    right: 22px;
  }

  img{
    width: 75px;
    height: 53px;

    position: absolute;
    left: 22px;
  }
  /*header*/
  header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color:  #FFFFFF;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
  }

  /*main*/
main{
  height: auto;
  padding-bottom: 200px;
}

.caixa-mensagem{
width: 100vw;
height: 40px;

position: relative;
top: 100px;
left:0px; 
gap: 5px 10px; 
margin-top: 10px;

display: flex;
align-items: center;
justify-content: flex-start;

border: 1px solid #d8d7d7;
border-radius: 2px;

font-weight: 400;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #000000;
}

.entrou-saiu{
  background-color: #DCDCDC;
}

.mensagemPublica{
 background-color:  #FFFFFF;
}

.mensagemReservada{
  background-color:  #FFDEDE;;
 }

 .horario{
margin-left: 5px; 
font-weight: 400;
font-size: 14px;
color: #AAAAAA;
 }

 span{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
 }

    /*Footer*/
  footer{
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;

    position: fixed;
    bottom: 0;
   
    left: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

input{
    width: 85%;
    height: 54px;
    font-style: italic;
    border: none;
    position: absolute;
    left: 22px;

}

footer ion-icon{
    font-size: 26px;
    margin-right: 22px;
}